google_translate_aki {
  font-family: IRANSans, 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  direction: rtl;
  text-align: right;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 12px;
}

